@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 2px;
}

.poppinsx {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

@keyframes scroll-half {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-by-width {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% + 220px));
  }
}

.animate-scroll-half {
  animation: scroll-half 15s linear infinite;
}

.animate-scroll-by-width {
  animation: scroll-by-width 15s linear infinite;
}
